server:
  port: 8080
  servlet:
    context-path: /cloud

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/cloud}
    username: ${DB_USERNAME:cloud}
    password: ${DB_PASSWORD:cloud}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: false

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

app:
  cors:
    allowed-origins:
      - http://localhost:8081
  upload:
    max-size-mb: 50
